<main class="bg-green-300 my-5 px-10 py-5 gap-5 rounded-md">
    <h1>About</h1>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
        praesentium rem, consectetur minus accusantium doloribus maiores, quo
        impedit provident, eius at voluptatibus quidem ex asperiores sunt
        nostrum assumenda ut expedita! Beatae, voluptas? In quae minima delectus
        aspernatur facere libero ratione exercitationem. Officiis, amet
        mollitia? Sapiente nemo dolor veritatis, sunt recusandae quidem ut atque
        autem deserunt vitae itaque nesciunt officia eius quas error culpa quasi
        qui, quisquam dolore! Quaerat porro culpa doloribus. Autem, corrupti
        voluptatem perspiciatis deleniti commodi tenetur, possimus repellendus
        assumenda aspernatur vitae doloremque hic voluptates praesentium totam
        labore. Natus eveniet ipsam, modi qui facere voluptatibus aspernatur
        perspiciatis? Saepe, illum!
    </p>
</main>
