<header class="bg-green-400 flex felx-col px-10 gap-3 rounded-xl">
    <div class="flex">
        <img src="favicon.svg" alt="" width="80px" height="100px">
        <h1 class="text-4xl py-7" >Flora</h1>
        <ul class="lista">
            <li><a href="">Inicio</a></li>
            <li><a href="plantas">Plantas</a></li>
            <li><a href="about">About</a></li>
        </ul>
    </div>
</header>
