<header class="bg-green-300 flex felx-col px-10 gap-3 rounded-xl">
    <div class="flex">
        <img class="logo" src="favicon.svg" alt=""/>
        <h1 class="text-4xl py-7 font-bold">Flora</h1>
        <ul class="lista font-bold">
            <li><a href="index">Inicio</a></li>
            <li><a href="plantas">Plantas</a></li>
            <li><a href="about">About</a></li>
        </ul>
    </div>
</header>