<main class="bg-green-400 my-5 px-10 gap-5 rounded-md">
    <h1>Aqui van las plantas</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        delectus nesciunt dolorem optio magni soluta aspernatur quisquam
        repellat, facere, officia veritatis dicta nulla necessitatibus nisi,
        placeat quod vero maiores exercitationem pariatur dolore voluptas ullam
        expedita. Beatae saepe distinctio suscipit ipsa accusantium error
        possimus, porro, quae dicta sunt odit officia harum vero! Dolorum
        impedit fugit esse maxime quas placeat repudiandae provident totam,
        itaque amet modi asperiores quaerat inventore facilis, ab odio soluta!
        Quia, consequuntur laudantium nesciunt voluptas laboriosam voluptate
        aliquam necessitatibus temporibus incidunt quod beatae voluptatem animi,
        optio quibusdam sint blanditiis adipisci corporis assumenda!
        Consequuntur odit sed, nesciunt obcaecati nostrum, sequi natus fugiat
        omnis alias veritatis pariatur, a ab! Exercitationem, quasi pariatur
        distinctio, assumenda, praesentium rem animi sunt iure dignissimos
        dolorem quibusdam debitis sint quia quaerat voluptas necessitatibus
        reiciendis. Aliquam doloribus voluptas fuga possimus impedit suscipit.
        Omnis aliquid vel natus, voluptatibus officiis quisquam autem ea
        molestias in libero reprehenderit odit ipsam? Distinctio dolor veniam
        harum animi laudantium. Voluptatem autem voluptate nostrum ipsum,
        nesciunt quas officiis officia. Neque molestias explicabo illo dolores,
        obcaecati magnam expedita atque facere omnis laudantium illum aut
        corrupti tempore ducimus rerum rem nobis minima excepturi architecto
        dicta cum quam recusandae nam! Cumque, adipisci repudiandae fugit qui
        unde culpa.
    </p>
</main>
