<header class="header gap-3">
    <img src="../images/logo.png" alt="" class="logo">
    <h1 class="text-5xl my-4"><a href="index">Flora</a></h1>
    <nav class="menu flex">
        <ul class="flex mx-5 gap-2">
            <img src="../images/planta.png" alt="" class="icono">
            <li><a href="plants">Plantas</a></li>
            <img src="../images/carro-de-la-compra.png" alt="" class="icono">
            <li><a href="">Cart</a></li>
            <img src="../images/iniciar-sesion.png" alt="" class="icono">
            <li><a href="login">Login</a></li>

        </ul>
    </nav>
</header>