.login-container{
    padding: 30px;
    background-color: #6af5d58a;
    border-radius: 5px 0px 0px 5px;
    float: right;
    width: 50%;
    height: 41pc;
    overflow: hidden;
}

.login-title{
    margin: 5pc 20pc 1pc ;
    font-size: 40px;

}

.username, .password{
    width: 190px;
    color: black;
    margin: 2pc 0px 10px 17pc;
    border-radius: 2px;
    background-color: transparent;
    border-bottom: 1px solid white;
    
}

.username:focus , .password:focus{
    outline: none;
    transform: scale(1.2);
}


.username::placeholder, .password::placeholder{
    text-align: center;
    color: rgb(142, 137, 137);
}

.password{
    display: block;
}

.submit{
    width: 190px;
    background-color: #6af5a1;
    border-radius: 6px;
    border: 3px solid white;    
    margin: 2pc 0px 2pc 17pc;
}

.submit:hover{
    transform: scale(1.3);
    transition-duration: 1s;
    background-color: rgba(0, 255, 60, 0.653);
}


.register-link:hover{
    color: rgb(71, 149, 149);
}

.register-section, .forgot-section{
    width: 250px;
    margin: 2pc 15pc; 
    font-size: 20px;
}

.register-section{
    margin-left: 16pc;
}

.forgot-link:hover{
    color: rgb(71, 149, 149);
}
