---
import Layout from '../layout/layout.astro'

//Components
import Header from '../components/Landing_page/Header.astro'
---

<Layout title="Login">
	<Header/>
	<div class="login-container">
		<form action="">
			<h1 class="login-title">Login</h3>

			<input type="email" name="" id="" placeholder="Username" required class="username">

			<input type="password" required placeholder="Password" class="password">
	
			<button class="submit">Login</button>
			
			<section class="register-section"><p class="register-label">New on Flora?<a href="#" class="register-link"> Register now</a></p></section>

			<section class="forgot-section"><p class="forgot-label">Forget your password ?<a href="#" class="forgot-link"> Contact us</a></p></section>
			

		</form>

		
	</div>
</Layout>