body{
    background: #BCFEBD;
    color: #017E37;
    font-family: 'Ysabeau', sans-serif;
}


li {
    padding: 10px;
}


img{
    border-radius: 10px;
    width: 400px;
    max-height: 550px;
    transition: all 0.5s ease;
}

.lista{
    margin-left: 700px;
    display: flex;
    margin-top: 20px;
    font-size: 30px;
}

.logo{
    width: 80px;
    height: 100px;
}


.more-img:hover{
    ancho : 403px ;
    box-shadow: 0 0 30px #00521F;
}
